---
# Feel free to add content and custom Front Matter to this file.

layout: default
---
<div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 sm:mt-32 md:mt-56">
  <div class="mx-auto max-w-2xl lg:max-w-none">
    <div class="max-w-3xl">
      <h1 class="font-unbounded text-5xl font-medium tracking-tight text-skin-accented [text-wrap:balance] sm:text-7xl">Aprovecha tu <span class="text-skin-alternate">informaci贸n</span> con herramientas de <span class="text-skin-alternate-1">AI</span></h1>
      <p class="mt-6 text-lg text-skin-accented">Accede a tu informaci贸n con lenguaje natural de texto de manera privada y segura sin importar la fuente o el formato de la misma.</p>
    </div>
  </div>
</div>

<div class="mt-24 rounded-4xl bg-skin-accented py-20 sm:mt-32 sm:py-32 lg:mt-56">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="max-w-2xl">
        <h2 class="block font-display tracking-tight [text-wrap:balance] text-4xl font-medium sm:text-5xl text-skin-inverted"><span class="text-skin-alternate">Privacidad</span> en el acceso a tu informaci贸n</h2>
        <p class="mt-6 text-lg text-skin-inverted">Ejecutando modelos privados tu informaci贸n se mantiene segura, no es utilizada para entrenamiento ni compartida con terceros.</p>
      </div>
    </div>
  </div>
</div>
