<footer class="bg-white">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 mt-24 w-full sm:mt-32 lg:mt-40">
    <div class="mx-auto max-w-2xl lg:max-w-none">
      <div class="mb-20 mt-24 flex flex-wrap items-end justify-between gap-x-6 gap-y-4 pt-12">
        <a aria-label="home" href="<%= relative_url '/' %>" class="font-righteous text-4xl text-skin-accented transition-colors hover:text-skin-alternate">lexee</a>
        <p class="text-sm text-skin-accented font-unbounded">© lexee. 2023</p>
      </div>
    </div>
  </div>
</footer>
